/* 1. Introduction */

p {
  color: red;
  text-align: center;
}

/* 2. CSS Selectors */

p {
  text-align: center;
  color: red;
}

#para1 {
  text-align: center;
  color: red;
}

.center {
  text-align: center;
  color: red;
}

p.center {
  text-align: center;
  color: red;
}

/* <p class="center large">This paragraph refers to two classes.</p> */

* {
  text-align: center;
  color: blue;
}

h1, h2, p {
  text-align: center;
  color: rgb(255, 0, 191);
}

/* <link rel="stylesheet" href="mystyle.css"> */

}
/* Color */
p.one {
  border-style: solid;
  border-color: rgb(255, 0, 0); /* red */
}
/* Sides */
p {
  border-style: dotted solid double dashed;
}
/* Shorhand */
p {
  border-bottom: 6px solid red;
}
/* Rounded Corners */
p {
  border: 2px solid red;
  border-radius: 5px;
}

/* 5. CSS Margins */
p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
p {
  margin: 50px 100px 150px 200px; /* top right bottom left */
  margin: 25px 50px 75px; /* top, right and left, bottom */
  margin: 50px 100px; /* top and bottom, right and left */
  margin: 50px; /* all sides */
  margin: auto; /* center horizontally */
  margin: inherit; /* inherit from parent */
}

/* 6. CSS Padding */
div {
  padding: 25px 50px 75px 100px;
} /* top right bottom left */
div {
  padding: 50px 100px 75px; /* top, right and left, bottom */
}
div {
  padding: 50px 100px; /* top and bottom, right and left */
}
div {
  padding: 50px; /* all sides */
}
